#container-section3{
    background-image: url('../img/backgrounds/Section3.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    
}
#section3{
    background-image: url('../img/backgrounds/Section3.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}